<%= turbo_frame_tag "turbo-modal" do %>
  <!-- Fullscreen Modal -->
  <div id="default-modal" tabindex="-1" aria-hidden="true"
       class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-[#FFFFFF]"
       data-controller="turbo-modal" data-turbo-modal-target="modal"
       data-action="turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard">
    <!-- Modal content wrapper -->
    <div class="relative w-full h-full flex items-center justify-center">
      <!-- Modal content -->
      <div class="relative bg-black rounded-lg shadow overflow-hidden w-full h-full">
        <!-- Back button -->
        <div class="absolute top-4 left-6 z-10">
          <button type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-700 hover:text-white rounded-full p-2"
                  data-modal-hide="default-modal" data-action="turbo-modal#hideModal">
            <i class="fa-solid fa-arrow-left size-6"></i>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Image centered and maximized -->
        <div class="flex items-center justify-center w-full h-full">
          <%= content %>
        </div>
      </div>
    </div>
  </div>
<% end %>
