<div class="layout-content-container flex flex-col w-80">
  <div class="flex h-full min-h-[700px] flex-col justify-between bg-[#FFFFFF] p-4">
    <div class="flex flex-col gap-4">
      <div class="flex gap-3">
        <div
        class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
        style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c0758575-38de-4aa6-8961-db3fedfd106c.png");'
        ></div>
        <div class="flex flex-col">
          <h1 class="text-[#1C160C] text-base font-medium leading-normal">Tuborgas Gronas</h1>
          <p class="text-[#A18249] text-sm font-normal leading-normal">CMS Management</p>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-3 px-3 py-2 rounded-full bg-[#F4EFE6]">
          <div class="text-[#1C160C]" data-icon="Gauge" data-size="24px" data-weight="fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M240,160v24a16,16,0,0,1-16,16H115.93a4,4,0,0,1-3.24-6.35L174.27,109a8.21,8.21,0,0,0-1.37-11.3,8,8,0,0,0-11.37,1.61l-72,99.06A4,4,0,0,1,86.25,200H32a16,16,0,0,1-16-16V161.13c0-1.79,0-3.57.13-5.33a4,4,0,0,1,4-3.8H48a8,8,0,0,0,8-8.53A8.17,8.17,0,0,0,47.73,136H23.92a4,4,0,0,1-3.87-5c12-43.84,49.66-77.13,95.52-82.28a4,4,0,0,1,4.43,4V80a8,8,0,0,0,8.53,8A8.17,8.17,0,0,0,136,79.73V52.67a4,4,0,0,1,4.43-4A112.18,112.18,0,0,1,236.23,131a4,4,0,0,1-3.88,5H208.27a8.17,8.17,0,0,0-8.25,7.47,8,8,0,0,0,8,8.53h27.92a4,4,0,0,1,4,3.86C240,157.23,240,158.61,240,160Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Dashboard</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="Eye" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">View site</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Explore</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="File" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Posts</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="File" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Pages</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="Hash" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Tags</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="User" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Members</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="Prohibit" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm88,104a87.56,87.56,0,0,1-20.41,56.28L71.72,60.4A88,88,0,0,1,216,128ZM40,128A87.56,87.56,0,0,1,60.41,71.72L184.28,195.6A88,88,0,0,1,40,128Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Ghost(Pro)</p>
        </div>
        <div class="flex items-center gap-3 px-3 py-2">
          <div class="text-[#1C160C]" data-icon="TrendUp" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path
                d="M240,56v64a8,8,0,0,1-16,0V75.31l-82.34,82.35a8,8,0,0,1-11.32,0L96,123.31,29.66,189.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0L136,140.69,212.69,64H168a8,8,0,0,1,0-16h64A8,8,0,0,1,240,56Z"
            ></path>
            </svg>
          </div>
          <p class="text-[#1C160C] text-sm font-medium leading-normal">Upgrade</p>
        </div>
      </div>
    </div>
    <button
    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-blue-700 text-[#FFFFFF] text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <span class="truncate">Upgrade</span>
    </button>
  </div>
</div>
