<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
  <div class="flex flex-wrap justify-between gap-3 p-4">
    <p class="text-[#1C160C] text-4xl font-black leading-tight tracking-[-0.033em] min-w-72">Dashboard</p>
  </div>
  <div class="flex flex-wrap gap-4 px-4 py-6">
    <div class="flex min-w-72 flex-1 flex-col gap-2">
      <p class="text-[#1C160C] text-base font-medium leading-normal">Total members</p>
      <p class="text-[#1C160C] tracking-light text-[32px] font-bold leading-tight truncate">1</p>
      <div class="flex gap-1">
        <p class="text-[#A18249] text-base font-normal leading-normal">+100%</p>
        <p class="text-[#019863] text-base font-medium leading-normal">+100%</p>
      </div>
      <div class="flex min-h-[180px] flex-1 flex-col gap-8 py-4">
        <svg width="100%" height="148" viewBox="-3 0 478 150" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <path d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25V149H326.769H0V109Z"
                      fill="url(#paint0_linear_1131_5935)"
                    ></path>
          <path d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25"
                      stroke="#A18249"
                      stroke-width="3"
                      stroke-linecap="round"
                    ></path>
          <defs>
            <linearGradient id="paint0_linear_1131_5935" x1="236" y1="1" x2="236" y2="149" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F4EFE6"></stop>
              <stop offset="1" stop-color="#F4EFE6" stop-opacity="0"></stop>
            </linearGradient>
          </defs>
        </svg>
        <div class="flex justify-around">
          <p class="text-[#A18249] text-[13px] font-bold leading-normal tracking-[0.015em]">8 Dec, 2024</p>
          <p class="text-[#A18249] text-[13px] font-bold leading-normal tracking-[0.015em]">7 Jan, 2025</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="flex justify-between gap-x-6 py-2">
      <p class="text-[#A18249] text-sm font-normal leading-normal">Created manually</p>
      <p class="text-[#1C160C] text-sm font-normal leading-normal text-right">1</p>
    </div>
  </div>
  <div class="flex flex-wrap gap-4 px-4 py-6">
    <div class="flex min-w-72 flex-1 flex-col gap-2">
      <p class="text-[#1C160C] text-base font-medium leading-normal">Free signups</p>
      <p class="text-[#1C160C] tracking-light text-[32px] font-bold leading-tight truncate">Free</p>
      <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3"></div>
    </div>
  </div>
</div>
